/*   Basic Set Up and Reset   */
:root {
  font-size: 14px;
  --red: hsl(0, 67%, 35%);
  --sage: hsl(80, 25%, 40%);
  --dark-sage: hsl(80, 25%, 10%);
  --mid-sage: hsl(80, 25%, 66%);
  --light-sage: hsl(80, 25%, 90%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

/*   ------   NAVIGATION   ------   */

nav {
  width: 100%;
  padding: 3rem;
  background-color: var(--dark-sage);
  color: var(--light-sage);
}
