[Desktop Entry]
Version=1.0
Type=Link
Name=Free Music Archive - Voodoo Suite - Little Grass Shack
Comment=
Icon=user-bookmarks
URL=https://freemusicarchive.org/music/Voodoo_Suite/blissbloodcom/Little_Grass_Shack
