[Desktop Entry]
Version=1.0
Type=Link
Name=Free Music Archive - Jackson F. Smith - Cantina Rag
Comment=
Icon=user-bookmarks
URL=https://freemusicarchive.org/music/Jackson_F_Smith/Jackson_Frederick_Smith/Cantina_Rag
